html, body{
  scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    /* margin: 10px; */
  }

  /* HEADER */
.title__container{
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 8px;
  padding-left: 20px;
}

#title{
  font-size: 40px;
}

.title__highlight{
  color: #ff0000;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.header__container{
  background-color: #000000;
  border: 2px solid #db0000;
  border-radius: 2em;
  color: #ffffff;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.item{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  transition: text-shadow 0.2s ease-in-out;
}

.home{
  text-decoration: none;
}

.item:hover{
  color: #ff0000;
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.8);

}

/* MAIN */
.img__home{
  margin: 1em;
  background-color: #000;
}

.img1{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  width: 700px;
  height: 350px;
  
}

.subtitle__box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
  text-align: center;
  width: 800px;
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
}

.subtitle{
  font-size: 30px;
}
.subtitle__container{
  color: rgb(150, 12, 12);
}

.info__container{
  font-size: 20px;
}

.link__container{
  display: flex;
  justify-content: center;
}

.link__advice{
  background-color: #000000;
  border: 2px solid #db0000;
  border-radius: 2em;
  color: #ffffff;
  margin: 1em;
  padding: 1em;
}

/* FOOTER */

footer{
  background-color: #000;
}

.footer__newsletter{
  color: #fff;
  padding: 30px 0px 10px 40px;
  width: 400px;
  margin: 0;
}


.footer__inputs{
  padding: 20px;
  display: flex;
  overflow: hidden;
}

.footer__input{
  background-color: transparent;
  height: 30px;
  display: flex;
  margin: 0px 10px 0px 10px;
  padding-left: 10px;
  border-radius: 15px;
  font-size: 1rem;
  outline: none;
  color: #db0000;
}

.footer__submit{
  display: inline-block;
  height: 40px;
  padding: 0 25px;
  margin-left: 20px;
  background-color: #db0000;
  border: none;
  font-size: 20px;
  color: #fff;
  border-radius: 15px; 
  cursor: pointer;
  font-weight: bold;
}